{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="card border-info mb-2" style="max-width: 80rem;">
        <div class="card-header bg-success text-white">Scripture: Matthew 9:1-8</div>
        <div class="card-body">

            <p class="card-text">
            <p>At that time, Jesus crossed over to the other side and reached his own city. Then some brought to him a paralytic lying on a bed. Jesus saw their faith and said to the paralytic, "Son, be of good cheer, your sins are forgiven."
            </p>
            <p>
                Then some of the scribes said to themselves, "This man blasphemes God." Jesus knew their thoughts and said to them, "Do you think evil in your hearts? Is it easier to say, 'Your sins are forgiven' or 'Get up and walk?' You must know that the Son of man has authority on earth to forgive sins." So he said to the paralytic, "Get up and take up your bed and go home." He also got up and went to his house.</p>

            <p>Seeing this, the crowd was terrified. They praised God for giving such power to man.</p>
            </p>
        </div>
    </div>
</main>
{% endblock %}